 #status-select .MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded{
    top:26% !important;
    left: 33% !important;

}
#product-select .MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded{
    top:26% !important;
    left: 40% !important;

}
#Project-select .MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded {
    top:26% !important;
    left: 48% !important;
}
.muiltr-113qkos-MuiSwitch-root{
    margin:0px
}
.selectedvalues{
    padding: 3px;
}
.selectedvalues .selectedlength{
    padding: 1px 4px;
    background:#ff9756;
    color:#354252;
    border-radius: 50%;
    font-size: 11px;
    font-weight: 800;
    position: relative;     
    top:-1px;
    margin-right:3px;
}

.addbalance .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24{
    width: 100%;
}

