@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("Inter-roman.var.woff2?v=3.18") format("woff2");
}

@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url("Inter-italic.var.woff2?v=3.18") format("woff2");
}
body
{
    background: #f1f5f9 !important;
    font-family: 'Inter var', Roboto, Helvetica Neue, Arial, sans-serif !important;
    font-feature-settings: "salt";
}
.ordersPage
{
    font-family: 'Inter var', Roboto, Helvetica Neue, Arial, sans-serif !important;
    font-feature-settings: "salt";
}
.proCircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:#e3f2fd;
    color: rgb(29 85 196 / var(--tw-text-opacity));
    font-size: 19px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    margin-right: 10px;
    padding: 19px;
    color: #0d469e;
}
.dashboardCard
{
    padding-left: 2.5rem !important;
    padding-bottom: 13px !important;
    padding-top: 18px !important;
}

.dashProHead
{
    padding-left: 2.5rem !important;
    padding-bottom: 0px !important;
}
.dashboardCard p {
    font-size: 12px;
}
.hrefTitle {
    text-decoration: none !important;
    color: #222;
    font-weight: 500;
}
.extraInfo
{
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
    font-size: 12px;
}
.iconBash
{
    margin: 0px 15px;
    font-size: 9px;
}
.text-bl-green.font-bold.w-full.conTitle {
    font-weight: 700;
    font-size: 18px;
    padding: 0px 0px 16px;
}
.dashboardHome tbody tr{
    cursor: pointer;
}
.catContent
{
    width: fit-content;
    background-color: rgb(248 250 251);
    border-radius: 50px;
}
.btn-rounded
{
    background-color: rgb(255, 151, 86) !important;
    color: #fff;
}
.btn-rounded:hover
{
    background-color:#354252 !important;
    color: #fff !important;
}
.navbar .navbar-brand-wrapper .navbar-brand img
{
    width: 2.2rem;
    height: 2.2rem;
}
.navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini img
{
    width: 1.5rem;
    height: 26px;
}
.navbar .navbar-brand-wrapper, .sidebar.sidebar-offcanvas
{
    background: #354252;
}
.sidebar .nav .nav-item .nav-link
{
    color: rgba(219, 218, 218, 0.7) !important;
    padding: 0.6rem 0 0.6rem 9px;
}
.sidebar .nav .nav-item:hover {
    background: rgba(255, 255, 255, 0.05);    
}
.sidebar .nav .nav-item .nav-link:hover
{
    color: rgb(219, 218, 218) !important;
}
/* .sidebar .nav .nav-item.active .nav-link .menu-title
{
    color: rgb(255, 151, 86) !important;
} */
.sidebar .nav .nav-item.active .nav-link i,.sidebar .nav .nav-item.active .nav-link .menu-title,.sidebar .nav.sub-menu .nav-item .nav-link.active,.sidebar .nav.sub-menu .nav-item .nav-link.active::before
{
    color: #fff;
}
.nav-item.active
{
    background:  rgb(255, 151, 86);
}
.createProject
{
    cursor: pointer;
}
spann.createProject:hover {
    background: #f1f5f9;
    padding: 10px;
    border-radius: 20px;
}
spann.createProject
{
    padding: 10px;
}
.auth .brand-logo img {
    width: 119px;
}
.form-control:focus, .swal2-modal .swal2-content .swal2-input:focus
{
    border-color: #ff9756;
}
.form-control, .swal2-modal .swal2-content .swal2-input
{
    border: 1px solid #dbdada;
}
.ordersPage .form-control, .swal2-modal .swal2-content .swal2-input
{
    border-color:#ebedf2;
    padding: 0;
}
.text-primary
{
    color: #ff9756 !important;
}
.text-primary:hover
{
    color:  #f1f5f9 !important;
}
.footer a
{
    color: #ff9756;
}
.createProjectModal .modal-dialog
{
    max-width: 670px;
}
.createProjectModal .modal-content
{
    background-color: #fff;
    padding: 25px;
}
.customText
{
    font-size: 12px;
}
.projectsCard
{
    padding: 1.5rem 1.5rem !important;
}
.MuiPaper-elevation1
{
    box-shadow:none !important
}
.MuiTab-textColorPrimary.Mui-selected
{
    color: #222 !important;
}
.MuiTab-root
{
    font-family: unset !important;
    font-size: 12px !important;
}
.activeProject
{
    padding: 1.5rem 0.5rem !important;
}
.cursorClass
{
    cursor: pointer;
}
html
{
    font-family: 'Inter var', Roboto, Helvetica Neue, Arial, sans-serif !important;
    font-feature-settings: "salt";
}
.fontBold
{
    font-weight: 700;
}
.latterSpacing
{
    letter-spacing: -0.025em;
}
.sidebar .nav .nav-item .nav-link .menu-title
{
    font-weight: 500;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link
{
    margin-left: 0;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link i
{
    color: #707070;
}
.fontBold500
{
    font-weight: 500;
}
.fontBold400
{
    font-weight: 400;
}
.fontBold800
{
    font-weight: 800;
}
.fontBold400
{
    font-weight: 400;
}
.bRadius
{
    border-radius: 16px;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-text
{
    margin-left: 0;
    margin-right: 0.5rem;
    margin-top: 10px;
}
.nav-profile-text span
{
    font-weight: 500;
    font-size: 12px;
    color: #707070;
    float: right;
}
.dropdown .dropdown-menu .dropdown-item
{
    padding: 2px 15px !important;
}
.bgColor,.footer
{
    background-color: #f1f5f9;
}
.footer
{
    border-top: 0px;
    padding:7px
}
.loginPage .brand-logo img,.signupPage .brand-logo img
{
    width: 5rem;
}
.auth form .form-group .form-control, .auth form .form-group .swal2-modal .swal2-content .swal2-input, .swal2-modal .swal2-content .auth form .form-group .swal2-input
{
    border-radius: 4px;
}
.latterSpace-0025
{
    letter-spacing: -0.025em;
}
.text-sm
{
    font-size: 0.8rem;
}
.loginLinks
{
    margin-left: 28px;
}
.dropArrow
{
    flex: 1 1 auto;
}
.cRadiusTop
{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.cRadiusBottom
{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.notification-icon--fixed {
    position: relative;
    color: #222;    
    background-color: #ff9756;
    border-radius: 50%;
    line-height: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 5px;
  }
  .notification-icon--fixed::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  .sidebar .nav .nav-item
  {
    border-radius: 6px;
  }
  .sidebar.sidebar-offcanvas .nav li
  {
    margin-bottom: 7px;
  }
  .sidebar .nav:not(.sub-menu)
  {
    margin-top: 20px;
  }
  .extraLogoText
  {
    background-color: #222;
    padding: 4px;
    font-size: 12px;
    color: rgb(97, 218, 251);
  }
  .searchWrapper
  {
    padding: 9px;
    width: 75px;
    padding: 15px;
  }
  .css-1r4vtzz,.css-48ayfv
  {
    border: 1px solid rgba(0, 0, 0, 0.23) !important;
    padding: 7px 5px 8px 13px !important;
    border-radius:20px !important;  
    margin-right: 12px !important;  
    color: #222 !important;
  }
  .css-1vr111p-option,.css-1qprcsu-option
  {
    padding: 18px 18px !important;
    font-weight: normal !important;
  }
  .css-1qprcsu-option:active
  {
    background-color:#b4bac166 !important;
    font-weight:normal !important;
  }
  .customSearch
  {
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
  }
  .customSearchIcon
  {
    border-bottom-left-radius: 25px !important;
    border-top-left-radius: 25px !important;
  }
  .popover {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-family: 'Inter var', Roboto, Helvetica Neue, Arial, sans-serif !important;
    font-feature-settings: "salt";
  }
  .css-1r4vtzz:hover
  {
    border-color:#222 !important;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 0px;
    bottom: 1px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ff9756;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ff9756;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .bdr
  {
    border: 1px solid #e2e8f0;
    padding: 10px;
    border-radius: 9999px;
    font-size: 1rem;
    font-weight: 500;
  }
  .css-1jllj6i-control:focus, .css-1jllj6i-control:hover
  {
    border-color: #222 !important;
  }
  .custamFilterBtn
  {
    background-color: transparent !important;
    color: #222;
    border-color: #222;
  }
  .css-11unzgr
  {
    max-height: none !important;
    overflow-y:none !important;
  }
  .css-1pcexqc-container
  {
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12) !important;
    border-radius: 10px;
    padding-top: 5px;
  }